body {
    max-width: 900px;
    background-image: url(../img/background_liara.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav {
    font-weight: bold;
}

.ooka-hr-m {
    width: 10%;
}

.imgCookieAvatar {
    width: 50%;
    height: 50%;
}

.ooka-gradient {
    background-image: linear-gradient(to right top, #f7ff3f, #fce928, #ffd212, #ffbc00, #ffa500, #ff9500, #ff8300, #ff7100, #ff6100, #ff4e00, #ff3500, #ff0000);
}

a {
    color: #FF8500;
}

.ooka-fd-bl {
    background-color: rgba(255, 255, 255, 0.5);
}

.ooka-align-center{
    text-align: center;
    align-items: center;
    vertical-align: middle;
    align-content: center;
}

nav {
    visibility: hidden;
}

.ooka-list{
    font-size:1em;
    font-weight: bold;
}

.ooka-bold{
    font-weight: bold;
}

.ooka-topRow {
    display: flex;
    flex-direction: row;
    vertical-align:center;
    align-items: center;
}

.ooka-progress{
    font-size: 0.3em;
    display: none;
}

@media (max-width:800px) {
    .ooka-topRow{
        flex-direction: column;
    }
}