/* Ookamy CSS =) <3 */
/* COLOR */
:root {
    --darkred:#800000;
    --darkredrgb:rgb(128, 0, 0);
    --lightred:#d40000;
    --lightredtrans80:rgba(212, 0, 0, 0.8);
    --bluegreen:#008b8b;
    --textcolorfirst:#f0ffff;
    --textcolor:#000000;
    --bglight:#ffffff;
    --bglighttrans80:rgba(255, 255, 255,0.8);
    --bglighttrans50:rgba(255, 255, 255,0.5);
    --trans:rgba(255, 255, 255,0);
    --bgMenu:#333031;
    --textMenu:#ffcb5a;
    --textMenu80:#ffcb5a98;
    --bluelightvintage: #177C8B;
    --bluedarkvintage: #084A62;
    --orange:#FF8500;
    --orangered:#DC3C35;
    --bgbody:#DC3C35;
    /* index third part */
    --title:#008b8b;
    --text:rgb(43, 41, 41);
 }

body {
    max-width: 800px;
    background-image: url(../img/background_liara.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


nav {
    font-weight: bold;
}

p {
    text-align: justify;
}

a {
    color: var(--orange);
}

.copperfield {
    display: none;
    visibility: hidden;
}

.ooka-fd-bl {
    background-color: var(--bglighttrans50);
}

.ooka-hr-m {
    width: 10%;
}

.ooka-gradient {
    background-image: linear-gradient(to right top, #f7ff3f, #fce928, #ffd212, #ffbc00, #ffa500, #ff9500, #ff8300, #ff7100, #ff6100, #ff4e00, #ff3500, #ff0000);
}

.ooka-align-center{
    text-align: center;
    align-items: center;
    vertical-align: middle;
    align-content: center;
}

nav {
    visibility: hidden;
}

.ooka-list{
    font-size:1em;
    font-weight: bold;
}

.ooka-bold{
    font-weight: bold;
}

.ooka-topRow {
    display: flex;
    flex-direction: row;
    vertical-align:center;
    align-items: center;
}

.ooka-progress{
    font-size: 0.3em;
    display: none;
}

@media (max-width:800px) {
    .ooka-topRow{
        flex-direction: column;
    }
}


#door-img{
    height: 150px;
    width: auto;
  }